<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<!-- Inclusión cabecera -->

<head th:include="usuario/template_user.html::head"></head>

<body>
	<!-- Inclusión Header -->
	<div th:include="usuario/template_user.html::header"></div>
	<section class="bg-dark"></section>
	<main id="main">
		
		<div class="container">
			<h1 class="mt-4 mb-3">eCommerce - Juanpis 
				<small>Producto</small>
			</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active">Producto</li>
			</ol>
			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-6">
							<a href="#">
								<img th:src="@{/images/{img} (img=${producto.imagen})}" class="img-fluid rounded" alt="">
							</a>
						</div>
						<div class="col-lg-6">
							<form th:action="@{/cart}" method="post">
								<input type="hidden" th:value="${producto.id}" name="id">
								<h2 class="card-title" th:text="${producto.nombre}"></h2>
								<ul class="list-group">
									<li class="list-group-item">
										<h5 th:text="'Precio: ' + ${producto.precio}"></h5>
									</li>
									<li class="list-group-item">
										<p th:text="'Descripción: ' + ${producto.descripcion}"></p>
									</li>
									<li class="list-group-item">
										<h6>
											Cantidad: <input type="number" id="cantidad" name="cantidad" autocomplete="off" min="1" th:max="${producto.cantidad}" value="1">
										</h6>
									</li>
								</ul>
								<button type="submit" class="btn btn-dark">Añadir al carrito</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div>
		
	</main><!-- End #main --> 

	<div th:include="usuario/template_user.html::footer"></div>

	<div id="preloader"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Inclusión archivos JS -->
	<div th:include="usuario/template_user.html::archivosJS"></div>

</body>

</html>